body{
    font-family: 'Poppins';
}

h1{
    margin-bottom: 50px;
}
h2 {
    font-size: 30px;
    margin-bottom: 50px;
  }


.container{
        margin-bottom: 80px;
}
.bg-light{
    background-color: white !important;
}
.nav-link{
    margin-right: 40px;
    transition: all 600ms ease;
}
.nav-link:hover{
    background-color: cyan;
    border-radius: 5px;
}
.carousel-indicators li{
    background-image: linear-gradient(90deg, orange, #ffd632);
    width: 2%;
    height: 10px;
    border-radius: 100px;
    border: none;

}
.carousel-indicators .active{
    width: 8%;
}

.carousel-item{
    padding: 10px 40px;
}
.paragraph{
    color: #707070;
}
.btn-dark{
    background-color: #000000;
}
.btn-dark:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px grey;
    border: none;
}

.see-all{
    color: #ffc400;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightgray;
    transition: all 500ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgb(133, 129, 129);
    cursor: pointer;


}

 .card-deck .card {
   border-radius: 15px;
 }
  
.card-body{
    text-align: center;
}
.card-paragraph{
    margin-top: 36px;
    color: #707070;

}

.card-footer{
    background-color: white;
    border-top: none;
    text-align: center;
}
.cat-h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom:10px;
    
}
.underline{
    background-image: linear-gradient(100deg, rgb(255, 197, 30), rgb(245, 188, 17));
    height: 9.73px;
    width: 135.53px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.cat-4 img{
    width: 100%;
}
.col-md-3{
    margin-top: 60px;
}
.cat-2{
    margin-bottom: 20px;
}
.cat-3{
    margin-top: 25px;
}

#contact-us{
    box-shadow: #d0cbca 5px 5px 15px;
    padding: 90px 0px;
    background-color: #5b51590a;
    border-radius: 10px;
  }
.from{
    text-align: center;
}
.email-box{
    display: block;
    width: 100%;
    padding: 8px 8px;
    border: 1px solid #c5cdd6;
    border-radius: 5px;
    
}
input:focus{
    border-color:rgb(34, 84, 223);
    color:#000000;
    background-color: rgb(224, 178, 178);
}
.email-box{
    transition: all 600ms ease;
}
.email-box:hover{
    box-shadow: 0px 1px 10px gray;
}
.email-btn{
    margin-top: 15px;
    background-color: black;
    border: 1px solid gray;
    color: white;
    box-shadow: 0px 0px 5px #839192;
}
.email-btn:hover{
    background-color: #eee2e2;
    box-shadow: 0px 0px 10px lightslategray;
}

footer{
    text-align: center;
    color: rgb(26, 23, 23);
}
