body{
    background-color: white;
    font-family: 'Poppins';
}
h1{
    margin-bottom: 50px;
}
h2 {
    font-size: 30px;
    margin-bottom: 50px;
  }


.container{
        margin-bottom: 100px;
}
.carousel-item{
    padding: 10px 40px;
}
.paragraph{
    color: #707070;
}
.btn{
    background-color: #000000;
}
..carousel-indicators li{
    background-image:linear-gradient(90deg, blue, cyan);
    border-radius: ;
}

.see-all{
    color: #FF9D00;
    font-size: 22px;
    font-weight: bold;
}

.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #e6e6f0;
}
.card-body{
    text-align: center;
}
.card-paragraph{
    margin-top: 36px;
    color: #707070;

}

.card-footer{
    background-color: white;
    border-top: none;
    text-align: center;
}
.cat-h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom:10px;
    
}
.underline{
    background-image: linear-gradient(100deg, rgb(255, 197, 30), rgb(245, 188, 17));
    height: 9.73px;
    width: 135.53px;
    border-radius: 5px;
    margin-bottom: 15px;
}
/* .cat-img img{
    width: 100%;
} */
.cat-4 img{
    width: 100%;
}
.col-md-3{
    margin-top: 60px;
}
.cat-2{
    margin-bottom: 20px;
}
.cat-3{
    margin-top: 25px;
}


















/* bootstrap.min.css | https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css */

.carousel-indicators li {
  /* background-color: #fff; */
  background-color: rosybrown;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: blue;
}

  